<form action="<%= secrets_url %>" method="post" accept-charset="utf-8" id="secret-form">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label> Title:
		<input type="text" name="secret[title]" id="title">
	</label>
	<br>
	<br>
	<h3>Tags:</h3>
	<div id="secret-tag-selects"></div>
	<button id="add-tag">Add Tag</button>

	<input type="hidden" name="secret[recipient_id]" value="<%= user_id %>">

	<p><input type="submit" value="Send Secret"></p>
</form>


<script type="application/json" id='bootstrap-tags'>
	{ "tags": <%= Tag.all.to_json.html_safe %>}
</script>


<script type="text/template" id="tags_template">
 	<select name="secret[tag_ids][]">
		<%% tags.forEach(function(tag) { %>
 			<option value="<%%= tag.id %>"><%%= tag.content %></option>
		<%% }); %>
 	</select>
</script>


<script type="application/javascript">
	var tags = JSON.parse($("#bootstrap-tags").html());

	var addSecretTagSelect = function() {
		var templateCode = $('#tags_template').html();
		var templateFn = _.template(templateCode);
		var renderedContent = templateFn(tags);
		$('#secret-tag-selects').append(renderedContent);
	}

	$('#add-tag').on("click", function(event){
		event.preventDefault();
		addSecretTagSelect();
	})

	addSecretTagSelect();
</script>